<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        	<link href="{{ asset('/bundles/jasonusers/css/main.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        
    </head>
    <body>
    	<div id="centering">
    		<div id="header">
    			Basic User App
    		</div>
        	{% block body %}{% endblock %}
        	<div id="footer">
    			<a href="{{ path('jason_users_homepage') }}">&rsaquo; Home</a>
    		</div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>